<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My_Album</title>
</head>
<body style="background-color:yellow">
<center>

<h1 style="color:green">Here is List Of All Songs Of My Album along with their Artists</h1>
    {% if check %}
    <a href="{% url 'Logout' %}"><button style="width:100px;height:25px;background-color:red;border-radius:20px">{{request.user.username}}--Logout</button></a>
    {% else %}
    <a href="{% url 'Login' %}"><button style="width:100px;height:25px;background-color:green;border-radius:20px">Login</button></a>
    {% endif %}
   <br><br>
    {% for i in album %}
    <a href="{% url 'album_details' i.id %}"><li style="color:blue;font-size:30px">{{i.name}} - {{i.artist}}
        <a href="{% url 'delete' i.id %}"><img src="https://cdn2.iconfinder.com/data/icons/business-1-58/48/69-512.png" style="width:20px">

    {% endfor %}
        <br>
        <a href="{% url 'song_list' %}"><button style="border-radius:20px; padding:10px; background-color:red">Song List </button></a><br>
<a href="{% url 'add_album' %}"><button style="border-radius:20px; padding:10px; background-color:green">Add New Album</button></a><br>
<a href="{% url 'add_song' %}"><button style="border-radius:20px; padding:10px; background-color:blue">Add New Song</button></a>
</center>
</body>
</html>