<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SongList</title>
     <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body >
<center>
    <h1>song list</h1>
     <table class="table table-hover">
<thead>
      <tr>
        <th>Songs</th>

      </tr>
    </thead>
    {% for i in song %}
         <tr>
    <td> {% if i.file %}
   <a href="{{ i.file.url }}"> <li style="font-size:25px">{{i.title}}<br></a>
     {% else %}
       <li style="font-size:25px">{{i.title}}<br>
    {% endif %}
        </tr>
    {% endfor %}
</center>
</body>
</html>